@use 'presets' as *;
@use 'mixins' as *;


.vertical-carousel {
  border-radius: 4px;
  overflow: hidden;

  &__image {
    width: 100%;
  }
}

.site-user {
  position: relative;

  &__tabs {
    position: absolute;
    top: 3px;
    right: $gap-md;
    border: none;
    //margin-right: -$gap;

    a {
      background-color: transparent !important;
      border: none !important;
      color: $color-gray;
      padding: 10px 5px !important;
    }
  }
}

/*локальные переменные*/
$image-size: 75px;
$image-size-with-padding: $image-size + 10px;

.site-news-item {
  position: relative;

  &:not(:last-child) {
    height: $image-size-with-padding;
    margin-bottom: $gap;

    &::after {
      content: "";
      right: 0;
      bottom: -4px;
      width: calc(100% - #{($image-size-with-padding)});
      height: 1px;
      position: absolute;
      background-color: $color-gray;
    }
  }

  &:hover {
    a {
      color: $color-accent;
    }

    .thumbnail {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }

  &__thumbnail {
    float: left;
    margin: 0 $gap-md $gap-md 0;
    width: $image-size;

  }

  &__image {
    width: 100%;
  }

  &__title {
    margin-bottom: $gap-md;
  }

  &__link {
    transition: color 0.25s;
    @include block-shortener(1rem, 1.5, 50px, 2);
  }

  &__date {
    font-size: 0.8rem;
    color: $color-gray-dark;
    text-align: right;
  }

}