@use 'presets' as *;
@use 'mixins' as *;


.vertical-carousel {
  border-radius: 4px;
  overflow: hidden;

  &__image {
    width: 100%;
  }
}

.site-user {
  position: relative;

  &__tabs {
    position: absolute;
    top: 3px;
    right: $gap-md;
    border: none;
    //margin-right: -$gap;

    a {
      background-color: transparent !important;
      border: none !important;
      color: $color-gray;
      padding: 10px 5px !important;
    }
  }
}

/*локальные переменные*/
$image-size: 75px;
$image-size-with-padding: $image-size + 10px;

.site-news-item {
  position: relative;

  &:not(:last-child) {
    height: $image-size-with-padding;
    margin-bottom: $gap;

    &::after {
      content: "";
      right: 0;
      bottom: -4px;
      width: calc(100% - #{($image-size-with-padding)});
      height: 1px;
      position: absolute;
      background-color: $color-gray;
    }
  }

  &:hover {
    a {
      color: $color-accent;
    }

    .thumbnail {
      background-color: $color-accent;
      border-color: $color-accent;
    }
  }

  &__thumbnail {
    float: left;
    margin: 0 $gap-md $gap-md 0;
    width: $image-size;

  }

  &__image {
    width: 100%;
  }

  &__title {
    margin-bottom: $gap-md;
  }

  &__link {
    transition: color 0.25s;
    @include block-shortener(1rem, 1.5, 50px, 2);
  }

  &__date {
    font-size: 0.8rem;
    color: $color-gray-dark;
    text-align: right;
  }

}

.site-rating {
  &__body {
    padding: 10px 0;
  }

  &__list {
    margin-bottom: 0;
  }

  &__link {
    background-color: transparent;
    margin-left: -1px;
    margin-right: -1px;
    color: $color-primary !important;
    padding-right: 55px;


    &:first-child {
      border-top: none;
      border-radius: 0;
    }

    &:last-child {
      border-bottom: none;
      border-radius: 0;
    }

    &:focus,
    &:hover {
      background-color: $color-accent !important;
      color: $color-white !important;
      border-color: $color-accent;

      .badge {
        background-color: $color-dark;
      }
    }
  }

  &__badge {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
  }

}

/*.site-rating__body {
  padding: 10px 0 !important;
}

.site-nav__block {
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid $color-gray;
  }
}

.site-nav__link {
  display: block;
}*/