@charset 'UTF-8';
.header-logo__title,
.header-logo__description
{
    display: block;

    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
}

.navbar-header
{
    text-align: center;
}

.navbar-inverse
{
    background-color: #191919;
}

.navbar-left
{
    margin-bottom: 0;
}

.navbar-right
{
    margin-top: 0;
}

.navbar-inverse .navbar-nav > li > a
{
    -webkit-transition: background-color .5s;
         -o-transition: background-color .5s;
            transition: background-color .5s;
}
.navbar-inverse .navbar-nav > li > a:hover
{
    color: #fff;
    border-radius: 4px;
    background-color: #517ba2;
}

.navbar-inverse .navbar-nav > .active > a
{
    background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:hover
{
    background-color: #517ba2;
}

.navbar-toggle
{
    float: none;

    margin-right: 0;
}

.panel-info
{
    border: 1px solid #d5d5d5;
    background-color: #f4f4f4;
    -webkit-box-shadow: none;
            box-shadow: none;
}
.panel-info:not(:last-of-type)
{
    margin-bottom: 30px;
}
.panel-info:last-of-type
{
    margin-bottom: 0;
}
.panel-info > .panel-heading
{
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 400;

    letter-spacing: .08em;

    color: #fff;
    background-color: #df8a13;
}

.panel-body
{
    border-radius: 0 0 4px 4px;
}

.input-group-lg > .form-control,
.form-group-lg .form-control
{
    font-size: .875rem;
}

.thumbnail
{
    -webkit-transition: background-color .25s;
         -o-transition: background-color .25s;
            transition: background-color .25s;
}

html
{
    font-size: 16px;
}

body
{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;

    max-width: 100%;
}

a
{
    color: #165690;
}
a:hover,
a:focus
{
    text-decoration: none;

    color: #df8a13;
}

.header
{
    font-family: 'PT Sans', sans-serif;

    margin-bottom: 80px;
}

.header-logo
{
    padding: 100px 0;

    text-align: center;

    background-color: #232323;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
}

.header-logo__title
{
    font-family: 'PT Serif', serif;
    font-weight: 700;

    padding-left: .33em;

    letter-spacing: .33em;

    color: #df8a13;
}

.header-logo__description
{
    font-size: 1.15rem;

    letter-spacing: .2em;

    color: #fff;
}

.vertical-carousel
{
    overflow: hidden;

    border-radius: 4px;
}
.vertical-carousel__image
{
    width: 100%;
}

.site-user
{
    position: relative;
}
.site-user__tabs
{
    position: absolute;
    top: 3px;
    right: 9.99999999px;

    border: none;
}
.site-user__tabs a
{
    padding: 10px 5px !important;

    color: #d5d5d5;
    border: none !important;
    background-color: transparent !important;
}
.site-news-item
{
    position: relative;
}
.site-news-item:not(:last-child)
{
    height: 85px;
    margin-bottom: 15px;
}
.site-news-item:not(:last-child)::after
{
    position: absolute;
    right: 0;
    bottom: -4px;

    width: calc(100% - 85px);
    height: 1px;

    content: '';

    background-color: #d5d5d5;
}
.site-news-item:hover a
{
    color: #df8a13;
}
.site-news-item:hover .thumbnail
{
    border-color: #df8a13;
    background-color: #df8a13;
}
.site-news-item__thumbnail
{
    float: left;

    width: 75px;
    margin: 0 9.99999999px 9.99999999px 0;
}
.site-news-item__image
{
    width: 100%;
}
.site-news-item__title
{
    margin-bottom: 9.99999999px;
}
.site-news-item__link
{
    font-size: 1rem;
    line-height: 1.5rem;

    display: -webkit-box;
    overflow: hidden;

    height: 50px;

    -webkit-transition: color .25s;
         -o-transition: color .25s;
            transition: color .25s;

    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.site-news-item__date
{
    font-size: .8rem;

    text-align: right;

    color: #6f6f6f;
}

.footer
{
    margin-top: 80px;
}

@media (min-width: 576px)
{
    .header-logo__title
    {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px)
{
    .navbar-left > li
    {
        padding: 5px 5px 5px 0;
    }
    .navbar-right > li
    {
        padding: 5px 0 5px 5px;
    }
    .navbar-inverse .navbar-nav > li > a
    {
        border-radius: 4px;
    }
}

@media (max-width: 767.8px)
{
    .navbar-inverse .navbar-nav > li > a
    {
        text-align: center;
    }
}

@media (max-width: 575.8px)
{
    .header-logo__title
    {
        font-size: 2.5rem;
    }
}
