.header-logo__title,
.header-logo__description
{
    display: block;

    text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000;
}

.navbar-header
{
    text-align: center;
}

.navbar-inverse
{
    background-color: #191919;
}

.navbar-left
{
    margin-bottom: 0;
}

.navbar-right
{
    margin-top: 0;
}

.navbar-inverse .navbar-nav > li > a
{
    -webkit-transition: background-color .5s;
         -o-transition: background-color .5s;
            transition: background-color .5s;
}
.navbar-inverse .navbar-nav > li > a:hover
{
    color: #fff;
    border-radius: 4px;
    background-color: #517ba2;
}

.navbar-inverse .navbar-nav > .active > a
{
    background-color: #053159;
}
.navbar-inverse .navbar-nav > .active > a:hover
{
    background-color: #517ba2;
}

.navbar-toggle
{
    float: none;

    margin-right: 0;
}

html
{
    font-size: 16px;
}

body
{
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
}

a
{
    color: #165690;
}
a:hover,
a:focus
{
    text-decoration: none;

    color: #df8a13;
}

.header
{
    font-family: 'PT Sans', sans-serif;

    margin-bottom: 80px;
}

.header-logo
{
    padding: 100px 0;

    text-align: center;

    background-color: #232323;
    background-image: url(../img/header-bg.jpg);
    background-position: center;
    background-size: cover;
}

.header-logo__title
{
    font-family: 'PT Serif', serif;
    font-weight: 700;

    padding-left: .33em;

    letter-spacing: .33em;

    color: #df8a13;
}

.header-logo__description
{
    font-size: 1.15rem;

    letter-spacing: .2em;

    color: #fff;
}

@media (min-width: 576px)
{
    .header-logo__title
    {
        font-size: 3.5rem;
    }
}

@media (min-width: 768px)
{
    .navbar-left > li
    {
        padding: 5px 5px 5px 0;
    }
    .navbar-right > li
    {
        padding: 5px 0 5px 5px;
    }
    .navbar-inverse .navbar-nav > li > a
    {
        border-radius: 4px;
    }
}

@media (max-width: 767.8px)
{
    .navbar-inverse .navbar-nav > li > a
    {
        text-align: center;
    }
}

@media (max-width: 575.8px)
{
    .header-logo__title
    {
        font-size: 2.5rem;
    }
}
